body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.app {
  max-width: 650px;
  margin: 0 auto;
}

.emojiSearch input {
  width: 70%;
  font-size: 24px;
  padding: 6px 16px;
  border-radius: 16px;
  border: 2px solid blue;
}

.emojiSearch input:focus {
  border: 4px solid darkblue;
}

.emojiResults {
  margin: 20px 0;
}

.emojiRow {
  margin: 5px 0;
  font-size: 36px;
}

.emojiRow:hover {
  background-color: aqua;
}

.emojiRow span {
  margin: 0 10px;
}

.emojiRow.invisible {
  display: none;
}