body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.emojiSearch input {
  width: 70%;
  font-size: 24px;
  padding: 6px 16px;
}

.emojiResults {
  margin: 20px 0;
}

.emojiRow {
  margin: 5px 0;
  font-size: 36px;
}

.emojiRow span {
  margin: 0 10px;
}

.emojiRow.invisible {
  display: none;
}